.main_div{
    width: 1280px;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.dice_container {
    gap: 36px;
    margin: 0 auto;
    margin-top: 64px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .dice_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.action_buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.dice_content p {
    font-size: 24px;
    height: 36px;
}

.score p {
    font-size: 24px;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.selection_div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}
.selection_div p {
    font-size: 24px;
    font-weight: bold;
}
.onlynumberbox {
    display: flex;
    gap: 24px;
}